body{
    display: grid;
    grid-template-areas: "header header header" "article none aside" "footer footer footer";
    grid-template-columns: 50% auto 40%;
    grid-template-rows: 10% 80% auto;
}

header{
    grid-area: header;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
    border: double;
    text-align: center;    
}

footer{
    grid-area: footer;
    grid-row-gap: 50%;
}

fieldset{
    display: block;
    width: max-content;
    border: double;
}

.Submit_Button{
    display: block;
    position: relative;
    top: 10px;
    left: 20px;
    height: 40px;
    font-size: 20px;
}

.Descripcion_Pagina{
    display: flex;
}

.Div_Contactar{
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    width: 50%;
    height: 10%;
    align-self: center;
    margin-bottom: 8%;
}

.Div_Contactar:hover{
    background-image: linear-gradient(#638cb5, yellow);
}

.Div_Contactar:active{
    background-image: linear-gradient( #638cb5, red);
}