body{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 20% auto 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    grid-area: header;
}

div{
    grid-area: main;
}

footer{
    grid-area: footer;
}