aside{
    border: dashed;
    text-align: center;
    background-color: wheat;
}

aside span{
    padding: 25px;
}

aside h2{
    text-align: center;
    border-bottom: dashed;
    padding: 10px;
    line-height: 25px;
    text-decoration: underline;
    margin: 0px;
    font-weight: bold;
}

aside p{
    font-size: 25px;
    line-height: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: underline;

}

.Aside_Imagen{
    height: 100px;
    width: 200px;
}



